<%- include("../../shared/includes/head", {pageTitle: "Login"}) %>
<link rel="stylesheet" href="/styles/forms.css">
</head>
<%- include("../../shared/includes/header") %>
<body>
    <main>
        <h1>Login</h1>
        <% if (inputData.errorMessage) { %> <!-- check for displaying error message -->
        <section class="alert">
            <h2>Invalid Credentials</h2>
            <p><%= inputData.errorMessage %></p>
        </section>
        <% } %>
        <form action="/login" method="POST">
            <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>"> <!-- added csrf protection -->
            <p>
                <label for="email">Email</label>
                <input type="email" name="email" id="email" value="<%= inputData.email %>" required>
            </p>
            <p>
                <label for="password">Password</label>
                <input type="password" name="password" id="password" value="<%= inputData.password %>" required>
            </p>
            <!-- button for form submission -->
            <button class="btn">Login</button>
            <!-- option if user knows that he/she signedup -->
            <p>Or...</p>
            <p id="switchForm"><a href="/signup">Create a new User</a></p>
        </form>
    </main>
</body>

<%- include("../../shared/includes/footer") %>